# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/*
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode/*
.factorypath

# Nova
.nova/*

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.cache/
overrides/.icons/
site/
styles/
_notes.md
vale.ini